@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body{
    text-align: center;
    padding-top: 30px;
}

h1{
    margin: 15px;
    font-size: 3em;
}

main{
    margin: auto;

    background-color: rgb(17, 17, 111);
    
    width: 300px;
    height: 320px;

    border-radius: 10px;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px 10px 0px 0px;

    height: 80px;
}

.display input{
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 260px;

    font-size: 2.7em;
    color: rgb(150, 150, 150);
    text-align: right;
}

.botoes{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    height: 230px;
    width: 260px;

    margin: auto;
}

.primeira, .segunda, .terceira, .quarta, .quinta{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.botao{
    width: 62px;
    height: 40px;
    border-radius: 5px;
}
.botao-limpar{
    height: 40px;
    width: 194px;
    border-radius: 5px;
}
#botao-igual{
    width: 62px;
    height: 40px;
    border-radius: 5px;
}
#botao-zero{
    width: 129px;
}

footer{
    margin-top: 40px;
    padding: 20px;
    font-size: 1.1em;
}